body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: Arial, sans-serif;
  background-color: white; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style-type: none; }

.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto; }
  @media screen and (max-width: 800px) {
    .container {
      width: 100%; } }

/* header start */
header {
  background: url("../img/BACKGROUND_header.png") no-repeat;
  background-size: cover; }
  header .head__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2%; }
    header .head__nav .logo img {
      width: 150%; }
    header .head__nav .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      text-transform: uppercase;
      width: 50%;
      font-weight: bold; }
      header .head__nav .navigation .navigation__item__link {
        transition: .5s;
        font-size: 1em; }
      header .head__nav .navigation .navigation__item__link:hover {
        color: #03bfcd; }
    @media screen and (max-width: 1200px) {
      header .head__nav {
        flex-direction: column; }
        header .head__nav .navigation {
          width: 80%; }
        header .head__nav .logo {
          width: 10%; } }
  @media screen and (max-width: 800px) {
    header .head__nav {
      width: 100%;
      flex-direction: column;
      align-items: center; }
      header .head__nav .navigation {
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-items: center;
        font-size: 2em;
        font-weight: lighter;
        margin-bottom: 15%;
        margin-top: 5%;
        justify-content: space-between; }
        header .head__nav .navigation .navigation__item {
          width: 100%;
          text-align: center;
          margin: 2%;
          text-shadow: 3px 3px 5px black; }
          header .head__nav .navigation .navigation__item .navigation__item__link {
            width: 100%; }
      header .head__nav .logo {
        width: 30%; }
      header .head__nav .logo img {
        width: 100%;
        align-self: flex-start;
        margin-top: 0; } }
  header .head_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; }
    header .head_main .head_main_title {
      color: #fff;
      padding-top: 10%;
      text-align: center; }
      @media screen and (max-width: 1200px) {
        header .head_main .head_main_title {
          margin-top: 10%;
          padding-top: 0; } }
    header .head_main .head_main_hr {
      width: 5%;
      color: #03bfcd; }
    header .head_main .head_main_info {
      color: #fff;
      width: 80%;
      text-align: center;
      font-size: 1.1em;
      line-height: 1.1em; }
    header .head_main .l_more {
      border: 1px solid #fff;
      color: #03bfcd;
      padding: 10px;
      margin-top: 10%;
      margin-bottom: 5%;
      transition: .5s; }
      header .head_main .l_more:hover {
        background-color: #0d0d32;
        color: white; }
  @media screen and (max-width: 800px) {
    header {
      width: 100%; }
      header .head_main {
        width: 95%; }
        header .head_main .head_main_title {
          width: 95%;
          font-size: 1.5em;
          padding: 0;
          order: 1;
          text-shadow: 1px 1px 10px black;
          font-weight: lighter; }
        header .head_main .head_main_hr {
          width: 90%;
          margin: 0; }
        header .head_main .head_main_info {
          text-align: justify;
          width: 95%;
          margin: 0;
          padding-top: 10%;
          display: none; }
        header .head_main .l_more {
          display: none; } }

/*header end*/
/* main start */
.story {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: justify;
  line-height: 1.5em; }
  @media screen and (max-width: 1200px) {
    .story img {
      width: 25%; } }
  .story .storyMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%; }
    @media screen and (max-width: 1200px) {
      .story .storyMain {
        width: 70%; } }
    .story .storyMain .main_story__p {
      margin-top: 0; }
    .story .storyMain .l_more {
      margin: 0;
      display: flex;
      align-items: center; }
  @media screen and (max-width: 800px) {
    .story {
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding-top: 10%; }
      .story .storyMain {
        align-items: center;
        width: 95%; }
      .story .imgStory {
        width: 30%; } }

.movie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  background-size: cover;
  background: url("../img/PUT YOUR BACKGROUND HERE 3.png") no-repeat; }
  .movie .main__video {
    margin: 0 auto; }
    @media screen and (max-width: 800px) {
      .movie .main__video {
        width: 100%;
        height: 100%; } }

.expertise {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%; }
  .expertise .main_expertise__p {
    margin: 0 auto;
    text-align: center; }
  .expertise .main_expertise__hr {
    width: 5%; }
    @media screen and (max-width: 800px) {
      .expertise .main_expertise__hr {
        width: 50%; } }
  .expertise .allItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 3%; }
    .expertise .allItems .items {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33%;
      text-align: center;
      padding-bottom: 2%;
      border-bottom: 1px solid #555;
      border-right: 1px solid #555; }
      .expertise .allItems .items img {
        padding-top: 10%;
        padding-bottom: 10%; }
      .expertise .allItems .items .main_items__p {
        padding-left: 5%;
        padding-right: 5%; }
        @media screen and (max-width: 800px) {
          .expertise .allItems .items .main_items__p {
            text-align: center; } }
      @media screen and (max-width: 800px) {
        .expertise .allItems .items {
          width: 95%;
          border: none;
          padding: 0;
          margin: 0; }
          .expertise .allItems .items .main_items__img {
            padding-top: 5%;
            padding-bottom: 5%; }
          .expertise .allItems .items .main_items__p {
            padding-left: 5%;
            padding-right: 5%; } }
    .expertise .allItems .items:nth-child(3) {
      border-right: none; }
    .expertise .allItems .items:nth-child(6) {
      border-right: none; }
    .expertise .allItems .items:nth-child(4) {
      border-bottom: none; }
    .expertise .allItems .items:nth-child(5) {
      border-bottom: none; }
    .expertise .allItems .items:nth-child(6) {
      border-bottom: none; }

.ourTeamBack {
  background: url("../img/BACKGROUND_header.png") no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px black; }
  .ourTeamBack .ourTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%; }
    .ourTeamBack .ourTeam .main_team__title {
      margin-bottom: 0;
      font-weight: lighter;
      font-size: 2em; }
    .ourTeamBack .ourTeam .main_team__p {
      font-size: larger;
      font-weight: lighter; }
    .ourTeamBack .ourTeam .main_team__hr {
      width: 5%;
      margin-top: 0; }
    .ourTeamBack .ourTeam .l_more {
      margin: 0; }
    .ourTeamBack .ourTeam .allUnits {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 80%;
      padding-top: 2%;
      padding-bottom: 3%; }
      .ourTeamBack .ourTeam .allUnits .unit {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4%;
        width: 20%;
        background: white;
        opacity: .9;
        border-radius: 5px; }
        .ourTeamBack .ourTeam .allUnits .unit img {
          width: 75%;
          border: 1px solid #fff;
          border-radius: 50%;
          margin: 5%;
          background: white;
          box-shadow: inset 1px 1px 10px 5px gray;
          padding: 5%; }
        .ourTeamBack .ourTeam .allUnits .unit .unit_inner_wrap {
          width: 90%;
          background: rgba(0, 0, 0, 0.2);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 5%;
          text-shadow: none; }
        @media screen and (max-width: 800px) {
          .ourTeamBack .ourTeam .allUnits .unit {
            width: 100%; }
            .ourTeamBack .ourTeam .allUnits .unit img {
              padding: 5%; } }
        .ourTeamBack .ourTeam .allUnits .unit p {
          margin: 0;
          font-size: large;
          color: black; }

.connection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5%; }
  @media screen and (max-width: 800px) {
    .connection .connection {
      flex-direction: column;
      align-items: center; } }
  .connection .formAll {
    flex-direction: column;
    width: 49%; }
    @media screen and (max-width: 800px) {
      .connection .formAll {
        width: 95%; } }
    .connection .formAll .formA {
      display: flex;
      flex-direction: column; }
      .connection .formAll .formA .l_more {
        margin-top: 5%; }
      .connection .formAll .formA .button {
        border: 1px solid #fff;
        color: #03bfcd;
        padding: 10px;
        margin-bottom: 5%;
        transition: .5s; }
        .connection .formAll .formA .button:hover {
          background-color: #0d0d32;
          color: white; }

.clients {
  display: flex;
  flex-direction: column;
  width: 35%; }
  @media screen and (max-width: 800px) {
    .clients {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 95%; } }
  .clients .allClients {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    .clients .allClients .client_unit {
      padding: 3%; }
      @media screen and (max-width: 1500px) {
        .clients .allClients .client_unit {
          width: 40%; }
          .clients .allClients .client_unit img {
            width: 100%; } }
      @media screen and (max-width: 1200px) {
        .clients .allClients .client_unit {
          width: 35%; }
          .clients .allClients .client_unit img {
            width: 100%; } }
      @media screen and (max-width: 800px) {
        .clients .allClients .client_unit {
          width: 44%; }
          .clients .allClients .client_unit img {
            width: 100%; } }

/* main end */
/*footer start*/
footer {
  background: url("../img/PUT YOUR BACKGROUND HERE footer.png") no-repeat;
  background-size: cover;
  color: #fff;
  padding: 3%; }
  footer .footUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 80%; }
    @media screen and (max-width: 800px) {
      footer .footUp {
        width: auto;
        flex-direction: column;
        align-items: center; } }
    footer .footUp .foot_item {
      width: 40%; }
      @media screen and (max-width: 800px) {
        footer .footUp .foot_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%; }
          footer .footUp .foot_item img {
            margin: 0 auto; }
          footer .footUp .foot_item .address_item__p {
            text-align: justify; }
          footer .footUp .foot_item .studio-title {
            margin: 0;
            align-self: flex-start; }
          footer .footUp .foot_item .social {
            width: 100%; } }
      footer .footUp .foot_item .foot_item:first-child {
        display: flex;
        flex-direction: column;
        align-items: center; }
      footer .footUp .foot_item .adress {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%; }
        @media screen and (max-width: 800px) {
          footer .footUp .foot_item .adress {
            width: 100%; }
            footer .footUp .foot_item .adress .address_item__p {
              margin: 0; } }
        footer .footUp .foot_item .adress .address_item__p {
          padding-left: 2%; }
        footer .footUp .foot_item .adress .social {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 2%;
          width: 100%; }
          footer .footUp .foot_item .adress .social .soc {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: auto;
            border: 1px solid #fff;
            border-radius: 30%;
            padding: 2%;
            width: 25px;
            height: 25px; }
            footer .footUp .foot_item .adress .social .soc .social_item__a {
              display: flex;
              flex-direction: row;
              justify-content: center;
              width: 100%;
              margin: 0 auto; }
              footer .footUp .foot_item .adress .social .soc .social_item__a img {
                margin: 0 auto; }
          footer .footUp .foot_item .adress .social .soc:hover {
            border-color: #03bfcd;
            color: #03bfcd; }
      footer .footUp .foot_item .phone {
        display: flex;
        flex-direction: row;
        align-items: center; }
        @media screen and (max-width: 800px) {
          footer .footUp .foot_item .phone {
            display: flex;
            flex-direction: row;
            align-items: center; } }
  footer .footUn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto; }
    @media screen and (max-width: 800px) {
      footer .footUn {
        flex-direction: column;
        align-items: center; } }
    footer .footUn .footHelp {
      display: flex;
      flex-direction: row;
      padding: 0; }

/*footer end*/
