body
	margin: 0
	padding: 0
	color: #333
	font-family: Arial, sans-serif
	background-color: white

a 
	text-decoration: none
	color: #fff

ul 
	list-style-type: none

@mixin item_column
	display: flex
	flex-direction: column
	align-items: center
	
@mixin item_row
	display: flex
	flex-direction: row
	justify-content: space-between
	flex-wrap: wrap

header
	background-image: url('../img/BACKGROUND_header.png')
	background-repeat: no-repeat
	background-size: cover

.container
	display: flex
	flex-direction: column
	width: 75%
	margin: auto

@media screen and (max-width: 800px)
 .container
  width: 95%
 	.head_main
 		width: 95%
 	.head_main_title
 		width: 95%
 		font-size: 1.5em
 		padding: 0
		 order: 1
		 text-shadow: 1px 1px 10px black
		 font-weight: lighter
 	.head_main_hr
		 width: 90%
		 margin: 0
 	.head_main_info
		 text-align: justify
		 width: 95%
		 margin: 0
		 padding-top: 10%
		 display: none
	.l_more
		display: none

nav 
	@include item_row
	align-items: center
	padding-top: 2%

@media screen and (max-width: 800px)
	nav
		flex-direction: column
		align-items: center

		.navigation
			width: 100%
			padding: 0
			flex-direction: column
			align-items: center
			font-size: 2em
			font-weight: lighter
			margin-bottom: 15%
			margin-top: 5%
			li
				width: 100%
				text-align: center
				margin: 2%
				text-shadow: 3px 3px 5px black

		.logo img
			width: 100%
			align-self: flex-start
			margin-top: 0

.logo img
	width: 150%

.navigation 
	@include item_row
	text-transform: uppercase
	width: 50%
	font-weight: bold
	a
		transition: .5s
	a:hover
		color: #03bfcd

.head_main
	@include item_column
	margin: auto 

h1 
	color: #fff
	padding-top: 10%
	text-align: center

.head_main p 
	color: #fff
	width: 80%
	text-align: center
	font-size: 1.1em
	line-height: 1.1em

.head_main hr 
	width: 5%
	color: #03bfcd

.l_more
	border: 1px solid #fff
	color: #03bfcd
	padding: 10px
	margin-top: 10%
	margin-bottom: 5%
	transition: .5s
	&:hover
		background-color: #0d0d32
		color: white

/* main start */

.story
	@include item_row
	align-items: center
	margin: auto
	padding-top: 10%
	padding-bottom: 10%
	text-align: justify
	line-height: 1.5em
	@media screen and (max-width: 1200px)
		img
			width: 25%

.storyMain
	display: flex
	flex-direction: column
	align-items: flex-start
	padding-left: 
	width: 75%
	@media screen and (max-width: 1200px)
		width: 70%


	.l_more
		margin: 0
		display: flex
		align-items: center

	p
		margin-top: 0

.movie
	@include item_row
	margin: 0 auto
	padding: 1%
	background: url("../img/PUT YOUR BACKGROUND HERE 3.png")
	background-size: cover
	background-repeat: no-repeat
	video
		margin: 0 auto
		@media screen and (max-width: 800px)
			width: 100%
			height: 100%
	a
		margin: 14%

@media screen and (max-width: 800px)
	.story
		flex-direction: column
		align-items: center
		margin: 0
		padding-top: 10%

		.storyMain
			align-items: center
			width: 95%

		.imgStory
			width: 30%

.expertise
	@include item_column
	padding-bottom: 5%

	p
		margin-top: 0

	hr
		width: 5%

.allItems
	display: flex
	flex-direction: row
	justify-content: center
	flex-wrap: wrap
	padding-top: 5%
	padding-bottom: 3%

	.items
		@include item_column
		width: 33%
		text-align: center
		padding-bottom: 2%
		border-bottom: 1px solid #555
		border-right: 1px solid #555

	.items:nth-child(3)
		border-right: none

	.items:nth-child(6)
		border-right: none
	
	.items:nth-child(4)
		border-bottom: none

	.items:nth-child(5)
		border-bottom: none

	.items:nth-child(6)
		border-bottom: none
.items
	img
		padding-top: 10%
		padding-bottom: 10%

	p
		padding-left: 5%
		padding-right: 5%


@media screen and (max-width: 800px)
	.expertise p
		text-align: center

	.allItems
		@include item_column

		.items
			width: 95%
			border: none
			padding: 0
			margin: 0
		
		.items
			img
				padding-top: 5%
				padding-bottom: 5%

			p
				margin-tops: 0
				padding-left: 5%
				padding-right: 5%

.ourTeamBack
	background-image: url('../img/BACKGROUND_header.png')
	background-repeat: no-repeat
	background-size: cover
	color: #fff
	text-align: center
	text-shadow: 1px 1px 2px black
	.ourTeam
		@include item_column
		padding: 2%
		h2
			margin-bottom: 0
			font-weight: lighter
			font-size: 2em
		p
			font-size: larger
			font-weight: lighter
		hr
			width: 5%
			margin-top: 0

		.l_more
			margin: 0
			
		.allUnits
			display: flex
			flex-direction: row
			justify-content: space-around
			flex-wrap: wrap
			width: 80%
			padding-top: 2%
			padding-bottom: 3%
			.unit
				@include item_column
				margin-bottom: 4%
				width: 20%
				background: white
				opacity: .9
				border-radius: 5px
				img
					width: 75%
					border: 1px solid #fff
					border-radius: 50%
					margin: 5%
					background: white
					box-shadow: inset 1px 1px 10px 5px gray
					padding: 5%
				.unit_inner_wrap
					width: 90%
					background: rgba(0,0,0,.2)
					display: flex
					flex-direction: column
					align-items: center
					justify-content: center
					padding: 5%
					text-shadow: none
				@media screen and (max-width: 800px)
					width: 100%
					img
						padding: 5%
				p
					margin: 0
					font-size: large
					color: rgba(0,0,0,1)
			
.conection
	@include item_row
	padding: 5%
	.formAll
		flex-direction: column
		width: 49%

		.formA
			display: flex
			flex-direction: column

			.l_more
				margin-top: 5%
			.button
				border: 1px solid #fff
				color: #03bfcd
				padding: 10px
				margin-bottom: 5%
				transition: .5s
				&:hover
					background-color: #0d0d32
					color: white

.clients
	display: flex
	flex-direction: column
	width: 35%
	.allClients
		display: flex
		flex-direction: row
		justify-content: space-around
		flex-wrap: wrap
		@media screen and (max-width: 800px)
			//flex-direction: column
		.client_unit
			padding: 3%
			@media screen and (max-width: 1500px)
				width: 40%
				img
					width: 100%
			@media screen and (max-width: 1200px)
				width: 35%
				img
					width: 100%
			@media screen and (max-width: 800px)
				width: 44%
				img
					width: 100%



@media screen and (max-width: 800px)
	.conection
		flex-direction: column
		align-items: center

		.formAll
			width: 95%

		.clients
			flex-direction: row
			flex-wrap: wrap
			justify-content: center
			width: 95%

footer
	background-image: url('../img/PUT YOUR BACKGROUND HERE footer.png')
	background-repeat: no-repeat
	background-size: cover
	color: #fff
	padding: 3%

	.footUp
		@include item_row
		margin: auto
		width: 80%
			
		.foot_item	
			width: 40%
			//padding-right: 10%

			.adress
				display: flex
				flex-direction: row
				align-items: center



			.social		
				@include item_row
				padding: 2%

.adress
	width: 100%
	p
		padding-left: 2%				

.soc
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	margin: auto
	border: 1px solid #fff
	border-radius: 30%
	padding: 2%
	width: 25px
	height: 25px
	a
		display: flex
		flex-direction: row
		justify-content: center
		width: 100%
		margin: 0 auto
		img
			margin: 0 auto

.social
	width: 100%
.soc:hover
	border-color: #03bfcd
	color: #03bfcd
.phone
	display: flex
	flex-direction: row
	align-items: center
.footUn
	@include item_row
	width: 80%
	margin: auto

	.footHelp
		display: flex
		flex-direction: row
		padding: 0

@media screen and (max-width: 800px)
	footer
		.footUp
			width: auto
			flex-direction: column
			align-items: center
			.foot_item
				@include item_column
				width: 100%
				img
					margin: 0 auto
				p
					text-align: justify
				.studio-title
					margin: 0
					align-self: flex-start
				.phone
					display: flex
					flex-direction: row
					align-items: center
				.adress
					width: 100%
					p
						margin: 0
				.social
					width: 100%
			.foot_item:first-child
				@include item_column


		.footUn
			flex-direction: column
			align-items: center
		





			